.list-author{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.list-author > div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 0.5em;
    margin: 1em;
    border: 1px solid rgb(71, 66, 66);
    flex-basis: 15%;
    height: 7em;

    border-radius: 15px;
}

.list-author>div li{
    list-style-type: none;
}


.listebtns{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
}

.listebtns > *{
    flex-basis: 10%;
    text-align: center;
}

.title-box{
    border-bottom: 1px solid black;
    width: 100%;
    height: 1.5em;
}

.title-box > h3{
    text-align: center;
}

