form {
    
    margin-top: 5em;
    margin-bottom: 5em;

    display: grid;
    
    
}

form>p{
    margin: 0.5em;   
    display: grid;
    grid-template-columns: 1fr 3fr;
}

form>input{
    
    margin-top: 0.5em;
    background-color: hsl(113, 54%, 62%);
    border-radius: 5%;
    border: 2px solid rgb(38, 56, 33);
    padding: 0.5em;
    color: rgb(38, 56, 33);
    align-self: center  ;
    margin: auto;
}

#save:hover{
    background-color: hsl(113, 54%, 52%);
}