<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/manga-icon.png' %}" />
    
    <title>Mangaruto</title>
    
    {% block styles %}
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css'%}"> -->
<!--     <link rel="stylesheet" href="{% static 'css/base.css' %}">
 -->    
    {% endblock %}
</head>
<header>
    {% block navbar %}
    <nav>
        <ul class="menu">
            <li>
                <a data-cy="home" href="{% url 'home' %}">
                    <div class="icon">
                        <i class="fa-solid fa-house"></i>
                        <p class="display-on-hover">Accueil</p>
                    </div>
                </a>
            </li>
            <li>
                <a data-cy="mangas" href="{% url 'mangas_listing' %}">
                    <div class="icon">
                        <i class="fa-solid fa-book"></i>
                        <p class="display-on-hover">Mangas</p>
                    </div>
                </a>
            </li>
            <li>
                <a data-cy="authors" href="{% url 'authors_listing' %}">
                    <div class="icon">
                        <i class="fa-solid fa-pen"></i>
                        <p class="display-on-hover">Auteurs</p>
                    </div>
                </a>
            </li>
            {% if request.user.is_authenticated %}
                {% if not request.user.is_superuser %}
                    <li>
                        <a data-cy="like" href="{% url 'aimer_mangas_user_listing' user.id %}">
                            <div class="icon">
                                <i class="fa-solid fa-star"></i>
                                <p class="display-on-hover">Notes</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a data-cy="mark" href="{% url 'wishlist_listing' user.id %}">
                            <div class="icon">
                                <i class="fa-solid fa-bookmark"></i>
                                <p class="display-on-hover">Archive</p>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <div data-cy="auth" class="icon">
                            <i class="fa-solid fa-user"></i>
                            <p class="display-on-hover">{{ user.username }}</p>
                        </div>
                        <ul class="submenu">
                            <li>
                                <a data-cy="account" href="{% url 'user_update' %}">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <p>Mon compte</p>
                                </a>
                            </li>
                            <li>
                                <a data-cy="logout" href="{% url 'logout' %}">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    <p>Se déconnecter</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                
            {% else %}
                <li>
                    <div data-cy="auth" class="icon">
                        <i class="fa-solid fa-user"></i>
                        <p class="display-on-hover">Authentification</p>
                    </div>
                    <ul class="submenu">
                        <li>
                            <a data-cy="login" href="{% url 'login' %}">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                <p>Se connecter</p>
                            </a>
                        </li>
                        <li>
                            <a data-cy="signup" href="{% url 'signup' %}">
                                <i class="fa-solid fa-user-plus"></i>
                                <p>S'inscrire</p>
                            </a>
                        </li>
                        </ul>
                    </li>
                {% endif %}
        </ul>
    </nav>
    {% endblock %}
</header>
<body>
    <div id="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
{% block js %}
<!-- <script src="{% static 'node_modules/jquery-slim/dist/jquery.slim.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'node_modules/@popperjs/core/dist/umd/popper.min.js' %}"></script> -->
{% endblock %}
</html>