{% extends 'base.html' %}
{% block styles %}
        {{ block.super }}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock %}
{% block content %}
    <div class="bloc-orange">
        <div class="left">
            <i id="icone-size" class="fa-solid fa-database"></i>
        </div>
        <div>
            <h1>Bienvenue sur Mangaruto</h1>
            <p>Une base de données regroupant le titre d'un manga, la date de publication, le synopsis et de nombreuses informations sur l'auteur.</p>
        </div>
        
    </div>

    <div class="bulle-img">
        <div id="box-img-txt">
            
                <img src="https://cdn.myanimelist.net/images/manga/2/253146.jpg" alt="Page de couverture de One Piece">
                <p>Retrouve tes mangas préférés !</p>
                
                
                
            
        </div>
            
            
        
        <div id="box-img-txt">
            
                <img src="https://cdn.myanimelist.net/images/manga/3/249658.jpg" alt="Page de couverture de Naruto">
                <p>Archive-les !</p>
                
                
            
        </div>
        
            
            
        

        <div id="box-img-txt">
            
                <img src="https://cdn.myanimelist.net/images/manga/5/260006.jpg" alt="Page de couverture de 20th century boys">
                <p>Note-les !</p>
                
                
            
        </div>
            
            
        
    </div>
{% endblock %}