<div class="pagination">
    <span class="step-links">
        {% if mangas.has_previous %}
            <a href="?page=1">
                <button id="btn-previous-last">
                    &laquo; Première page</a>
                </button>
                
            <a href="?page={{ mangas.previous_page_number }}">
                <button id="btn-pages">
                    Page précédente
                </button>
                </a>
        {% endif %}

        <span class="current">
            Page <b>{{ mangas.number }}</b> sur <b>{{ mangas.paginator.num_pages }}</b>
        </span>

        {% if mangas.has_next %}
            <a href="?page={{ mangas.next_page_number }}">
                <button id="btn-pages">
                    Page suivante
                </button>
                </a>
            <a href="?page={{ mangas.paginator.num_pages }}">
                <button id="btn-previous-last">
                    Denière page &raquo;
                </button>
                </a>
        {% endif %}
    </span>
</div>
