{% extends "base.html" %}
    
    {% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mangas/stars.css' %}">
    {% endblock %}

    {% load static %}
    

    {% block content %}        
    {% if request.user.is_authenticated %}
        <h1>Noter {{ manga.title }}</h1>
        <img src="{{ manga.img }}" alt="Page de couverture de {{ manga.title }}">
        <a href="{% url 'rate' manga.id user.id 0 %}" id="reset-rate">
            <div class="star-rater">
                <object class="stars">
                    <a href="{% url 'rate' manga.id user.id 5 %}">
                        <i class="fa-solid fa-star {% if rate > 4 %}checked{% endif %}"></i>
                    </a>
                </object>
                <object class="stars">
                    <a href="{% url 'rate' manga.id user.id 4 %}">
                        <i class="fa-solid fa-star {% if rate > 3 %}checked{% endif %}"></i>
                    </a>
                </object>
                <object class="stars">
                    <a href="{% url 'rate' manga.id user.id 3 %}">
                        <i class="fa-solid fa-star {% if rate > 2 %}checked{% endif %}"></i>
                    </a>
                </object>
                <object class="stars">
                    <a href="{% url 'rate' manga.id user.id 2 %}">
                        <i class="fa-solid fa-star {% if rate > 1 %}checked{% endif %}"></i>
                    </a>
                </object>
                <object class="stars">
                    <a href="{% url 'rate' manga.id user.id 1 %}">
                        <i class="fa-solid fa-star {% if rate > 0 %}checked{% endif %}"></i>
                    </a>
                </object>
            </div>
        </a>                        
    {% else %}
      
        <p>Tu dois te connecter pour acceder à cette page !</p>  
    
    {% endif %}
        

        
    {% endblock %}


 