{% extends "base.html" %}
    {% block styles %}
        {{ block.super }}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/mangas/mangas_listing.css' %}">
    {% endblock %}
    {% block content %}

    {% if request.user.is_authenticated %}
        {% if request.user.id == user.id %}
            <h1>Liste des mangas notés</h1>
            {% if not mangas %}
            <p>Vous n'avez pas encore noté de manga. Trouvez-en un que vous avec lu <a id="invite-link" href="{% url 'mangas_listing' %}">ici</a> et notez-le dès maintenant.</p>
            {% else %}

            {% include "paginator.html" %}

            <div id="manga-displayer">
                <ul>
                {% for manga in mangas %}
                    <li class="manga-box">
                        <h3>{{ manga.manga }}</h3>
                        <img src="{{ manga.manga.img }}" alt="Page de couverture de {{ manga.title }}">
                        
                        <div class="star-displayer">
                            <object class="stars">
                                <i class="fa-solid fa-star {% if manga.rate > 4 %}checked{% endif %}"></i>
                            </object>
                            <object class="stars">
                                <i class="fa-solid fa-star {% if manga.rate > 3 %}checked{% endif %}"></i>
                            </object>
                            <object class="stars">
                                <i class="fa-solid fa-star {% if manga.rate > 2 %}checked{% endif %}"></i>
                            </object>
                            <object class="stars">
                                <i class="fa-solid fa-star {% if manga.rate > 1 %}checked{% endif %}"></i>
                            </object>
                            <object class="stars">
                                <i class="fa-solid fa-star {% if manga.rate > 0 %}checked{% endif %}"></i>
                            </object>
                        </div>
                
                        <div class="listebtns">
                            <object>
                                <a href="{% url 'aimer_mangas_user_delete' manga.id %}" id="btn-stars">
                                    <i class="fa-solid fa-star"></i>
                                </a>
                                <a href="{% url 'aimer_mangas_user_add' manga.manga.id %}" id="btn-update">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </object>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% else %}
            <p>Tu ne peux pas acceder à cette page !</p>
        {% endif %}
    {% else %}
    <h1>Connectez vous</h1>
    {% endif %}


    {% endblock %}



    
    



