{% extends "base.html" %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth/auth-forms.css' %}">
{% endblock %}

{% block content %}
    <div id="login" class="form-box">
        <img id="logo" src="{% static 'img/manga-icon.png' %}" alt="Logo du site représentant le symbole sur le bandeau de Naruto">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="id_username">
                <p><i class="fa-regular fa-envelope"></i> {{ form.username.label_tag }}</p>
                {{ form.username }}
            </label>
            <label for=id_password>
                <p><i class="fa-solid fa-lock"></i> {{ form.password.label_tag }}</p>
                {{ form.password }}
            </label>
            <input type="submit" value="Se connecter">
        </form>

        {% if form.errors %}
        <p class="invalid-msg">Nom d'utilisateur ou mot de passe incorrect. Veuillez réessayer.</p>
        {% endif %}

        <a id="link" href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
    </div>
{% endblock %}