{% extends "base.html" %}

{% block styles %}
  {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth/auth-forms.css' %}">
{% endblock %}

{% block content %}
  <div id="reset-password" class="form-box">
    {% if validlink %}
      <h1>Modification de votre mot de passe</h1>
      <form method="POST">
        {% csrf_token %}
          <!-- {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %} -->
        {% for field in form %}
          <label for="{{ field.id_for_label}}">
            <p>{{ field.label_tag }}</p>
            {{ field }}
          </label>
          {{ field.errors }}
        {% endfor %}
        <input type="submit" value="Modifier mon mot de passe">
      </form>
    {% else %}
      <h1>Lien invalide</h1>
      <p>Votre lien de changement de mot de passe a expiré ou a déjà été utilisé. Veuillez effectuer une autre demande de changement de mot de passe.</p>
    {% endif %}
  </div>
{% endblock %}