{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth/auth-forms.css' %}">
{% endblock %}

{% block content %}
<div id="reset-password" class="form-box">
  <h1>Mot de passe oublié ?</h1>
  <p>Veuillez renseigner l'adresse mail associée à votre compte ci dessous.</p>

  <form method="POST">
    {% csrf_token %}
    <label for="id_email">
    {{ form.as_p }}
    </label>
    <input type="submit" value="Envoyer les instructions">
  </form>
</div>
{% endblock %}