{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth/auth-forms.css' %}">
{% endblock %}

{% block content %}
    <div class="form-box">
        <h1>Mot de passe modifié</h1>
        <p>Votre nouveau mot de passe a été modifié avec succès. Vous pouvez maintenant vous connecter en suivant le lien ci dessous :</p>
        <a id="link" href="{% url 'login' %}">Page de connexion</a>
    </div>
{% endblock %}