{% extends "base.html" %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth/auth-forms.css' %}">
{% endblock %}

{% block content %}
  <div class="form-box" id="reset-password">
    <h1>Vérifiez vos mails !</h1>
    <p>Nous vous avons envoyé les instructions nécessaires pour modifier votre mot de passe, vous devriez les recevoir rapidement.</p>
    <p> Si vous n'avez rien reçu veuillez vérifier que vous avez <strong>correctement renseigné votre courriel</strong> et assurez-vous d'être <strong>déjà inscrits</strong> sur le site.</p>
  </div>
{% endblock %}