<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>HTML email template</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
  </head>

  <body style="background-color: #ffffff; font-size: 16px;">
    <center>
      <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
          <tr>
            <td align="center" bgcolor="#ffffff" style="padding:30px">
              <p style="text-align:left">Bonjour  {{ user.username }},
                <br>
                <br>Vous avez demandé la modification du mot de passe du compte associé à cette adresse email. Afin de modifier votre mot de passe, veuillez suivre le lien suivant :
              </p>
              <p>
                <a target="_blank" style="text-decoration:none; background-color: black; border: black 1px solid; color: #fff; padding:10px 10px; display:block;" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}">
                  <strong>Modifier mon mot de passe</strong>
                </a>
              </p>
              <p style="text-align:left">Ce lien ne peut être utilisé qu'une seule fois. Si vous avez besoin de modifier à nouveau votre mot de passe, rendez-vous sur <a href="{{ protocol }}://{{domain}}">Mangaruto</a> et faites une autre demande de modification de mot de passe.<br>
                <br>Si vous n'êtes pas l'auteur de cette demande, veuillez ignorer ce mail.</p>
              <p style="text-align:left">
              Cordialement,<br>L'équipe Mangaruto
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>