{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth/auth-forms.css' %}">
{% endblock %}

{% block content %}
  <div id="signup" class="form-box">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <label for="{{ field.id_for_label}}">
          <p>{% if field.label == "Nom d'utilisateur" %}<i class="fa-solid fa-user"></i>{% elif field.label == "Email" %}<i class="fa-regular fa-envelope"></i>{% else %}<i class="fa-solid fa-lock"></i>{% endif %} {{ field.label_tag }}</p>
          {{ field }}
        </label>
        {{ field.errors }}
      {% endfor %}
      <input type="submit" value="S'inscrire">
    </form>
  </div>
{% endblock %}