input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--input-background-color) inset !important;
}

:root{
    --form-background-color: hsl(39, 80%, 90%);
    --input-background-color: white;
    --input-background-color-hover: darkcyan;
}

#login, #signup{
    width: 25%;
}

#reset-password{
    width: 40%;
}

.form-box{
    margin-top: 3em;
    background-color: var(--form-background-color);
    padding: 2em;
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
}

.form-box > *{
    margin-bottom: 2em;
}

#logo{
    width: 50%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#as-input{
    text-decoration: none;
    color: black;
}

form > label, #as-input{
    background-color: var(--input-background-color);
    padding: 0.3em 0.6em;
    width: 100%;
    margin: 1em;
    border-radius: 1em;
    border: 1px solid transparent;
}

form > label:hover, form > label:focus-within, #as-input:hover{
    transition: 0.3s;
    border: 1px solid var(--input-background-color-hover);
}

input{
    width: 100%;
    border: none;
    background-color: transparent;
}

input:focus, input:hover{
    outline: none;
    background-color: transparent;
}

input[type="submit"]{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 0.6em 0;
    font-weight: bold;
}

input[type="submit"]:hover, input[type="submit"]:focus{
    transition: 0.3s ease-in;
    background-color: var(--input-background-color-hover);
    color: black
}

.invalid-msg{
    color: red;
}

.invalid-field{
    border: 1px solid red;
}

.errorlist{
    margin: 1em;
    color: red;
}

.errorlist > *{
    list-style-type: none;
}

strong{
    color: red;
}

p{
    text-align: justify;
}

#link{
    text-decoration: none;
    color: black;
}

#link:hover{
    text-decoration: underline;
}
