{% extends "base.html" %}
    {% block styles %}
        {{ block.super }}
        {% load static %}
        
    {% endblock %}
    {% block content %}

    {% if request.user.is_authenticated %}
        <h1>Supprimer un Manga</h1>
        
        <p>Etes-vous sur de vouloir supprimer le manga "{{ manga.title }}" ?</p>
        <form action="" method="post">
        {% csrf_token %}
            
        <input type="submit" value="Supprimer" class="btn btn-danger">
            
        </form>
    {% else %}
    <p></p>
    {% endif %}
    
 {% endblock %}
