{% extends "base.html" %}
    {% block styles %}
        {{ block.super }}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/mangas/mangas_listing.css' %}">
    {% endblock %}
    {% block content %}

    <h1>Liste de tous les mangas</h1>

    <form id="searchbar" action="{% url 'manga_search' %}" method="get">
        <input name="query" type="text" placeholder="Rechercher un manga">
    </form>

    {% include "paginator.html" %}

    {% if request.user.is_superuser %}
        <a href="{% url 'mangas_add'%}" id="btn-add">
            <i class="fa-solid fa-plus"></i>
        </a>
    {% endif %}
    
    
    <div id="manga-displayer"> 
        
    <ul>
    {% for manga in mangas %}  
    
        <a href="{% url 'manga_detail' manga.id %}">
            <li class="manga-box">
                <h3>{{ manga.title }}</h3>
                <img  loading="lazy" class="listingImg" src="{{ manga.img }}" alt="Page de couverture de {{ manga.title }}">

                {% if request.user.is_superuser %}            
                    <div class="listebtns">
                        <object>    
                            <a href="{% url 'mangas_update' manga.id %}" id="btn-update">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a href="{% url 'mangas_delete' manga.id %}" id="btn-delete">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </object>
                    </div>
                {% endif %}
            </li>
        </a> 
    {% endfor %}
    </ul>
    </div>
    {% endblock %}