{% extends "base.html" %}
    {% block styles %}
        {{ block.super }}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/mangas/manga_detail.css' %}">
    {% endblock %}
    
    {% block content %}
    <div id="manga-box">
    <h1>{{ manga.title }}</h1>
        <div class="info-manga-box">
            <div>
                <img src="{{ manga.img }}" alt="Page de couverture de {{ manga.title }}">
                <p>{{ manga.author }}</p>
                <p>{{ manga.release_date }}</p>
            </div>
            <p class="synopsis-indent">{{ manga.synopsis }}</p>
        </div>
        {% if request.user.is_authenticated %}    
            <div class="listebtns">
                <object>
                    {% if request.user.is_superuser %}
                    <a href="{% url 'mangas_update' manga.id %}" id="btn-update">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="{% url 'mangas_delete' manga.id %}" id="btn-delete">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                    {% else %}
                        {% if not liked %}
                            <a href="{% url 'aimer_mangas_user_add' manga.id %}" id="btn-stars">
                                <i class="fa-regular fa-star"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'aimer_mangas_user_delete2' manga.id %}" id="btn-stars">
                                <i class="fa-solid fa-star"></i>
                            </a>
                        {% endif %}

                        {% if not wished %}
                            <a href="{% url 'wishlist_add' manga.id user.id %}" id="btn-mark">
                                <i class="fa-regular fa-bookmark"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'wishlist_delete_list_mangas' manga.id user.id %}" id="btn-mark">
                                <i class="fa-solid fa-bookmark"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </object>
            </div>
        {% endif %}
    </div>
    {% endblock %}