{% extends "base.html" %}
    {% block styles %}
        {{ block.super }}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/mangas/mangas_listing.css' %}">    
    {% endblock %}
    {% block content %}

    {% if request.user.is_authenticated %}
        {% if request.user.id == user.id %}
            <h1>Mes mangas archivés</h1>
            {% if not mangas %}
                <p>Vous n'avez aucun manga archivé. Je suis sûr que vous trouverez votre bonheur <a id="invite-link" href="{% url 'mangas_listing' %}">ici</a>.</p>
            {% else %}
            
            {% include "paginator.html" %}
            <div id="manga-displayer">
                <ul>
                {% for manga in mangas %}
                    <li class="manga-box">    
                        <h3>{{ manga.title }}</h3>
                        <img src="{{ manga.img }}" alt="Page de couverture de {{ manga.title }}">
                        <p>{{ manga.release_date }}</p>
                        <p>{{ manga.author }}</p>
                        
                        <div class="listebtns">
                            <object>
                                <a href="{% url 'wishlist_delete' manga.id user.id %}" id="btn-mark">
                                    <i class="fa-solid fa-bookmark"></i>
                                </a>
                            </object>
                        </div>            
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% else %}
            <p>Tu ne peux pas acceder à cette page !</p>
        {% endif %}

    {% else %}
        
        <p>Tu dois te connecter pour acceder à cette page !</p>
        
    {% endif %}
    {% endblock %}