@import url("mangas/stars.css");

/* Variables et modifications générales */
:root{
    --font-color-light: wheat;
    --font-color-dark: black;
    --hover-color: darkcyan;
    --nav-background-color: black;
    --nav-background-color-hover: rgb(37, 35, 35);
    --nav-font-size: larger;
    --elem-background-color-light: var(--font-color-light);
    --global-font-size: 2vw;
    --nav-height: 10vh;
    --star-color-empty: grey;
    --star-color-fill: orange;
}

*{
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Andale Mono', monospace	;
}

/* Enveloppe le contenu des blocs content */
#content-wrapper{
    padding-top: var(--nav-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-----------------------------------------------------------------*/
/* Titre principal */
.title{
    padding: 1% 0 1% 0;
    color: var(--font-color-dark);
    text-align: center;
    margin-bottom: 3%;
}
/*-----------------------------------------------------------------*/
/* Navbar et menus déroulants */
nav{
    top: 0;
    position: fixed;
    width: 100%;
    margin-bottom: calc(var(--nav-height));
}

.menu{
    display: flex;
    text-align: center;
    height: var(--nav-height);
    justify-content: space-evenly;
}

.menu > li{
    list-style-type: none;
    background-color: var(--nav-background-color);
    position: relative;
    height: 100%;
    flex: 1;
}

.menu > li:hover > .submenu{
    animation: submenu 3s forwards;
    z-index: 1;
}

.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color-light);
    font-size: var(--nav-font-size);
}

.icon > i{
    font-size: 1.4em;
    margin-bottom: 5%;
}

nav li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.submenu{
    margin-top: var(--nav-height);
    width: 100%;
    text-align: left;
    background-color: var(--nav-background-color);
    overflow: hidden;
    max-height: 0;
    z-index: 1;
}

.submenu > li{
    list-style-type: none;
}

.submenu > li > a{
    width: 100%;
    padding: 0.2em;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    color: var(--font-color-light);
    background-color: var(--nav-background-color);
}

.submenu > li:hover > a{
    color: var(--hover-color);
    background-color: var(--nav-background-color-hover);
}

.submenu > li > a > p{
    flex-basis: 75%;
    text-transform: uppercase;
}

.submenu > li > a > i{
    margin-left: 2%;
}

.menu > li:hover{
    background-color: var(--nav-background-color-hover);
}

.menu > li:hover .icon{
    transition: 0.5s ease-in;
    color: var(--hover-color);
}

.menu > li .display-on-hover{
    display: none;
    font-size: font;
}

.menu > li:hover .display-on-hover{
    display: block;
}

@keyframes submenu{
    100% {
        max-height: 50em;
    }
}
/*-----------------------------------------------------------------*/

/* BTNS */

/* UPDATE */
#btn-update{
    padding: 5px;
    background-color: hsl(240, 54%, 62%);
    border-radius: 15%;
    border: 2px solid rgb(33, 33, 56);
}

#btn-update:hover{
    background-color: hsl(240, 54%, 52%);
}

#btn-update i{
    color: rgb(33, 33, 56);
}


/* DELETE */

#btn-delete{
    padding: 5px;
    background-color: hsl(0, 54%, 62%);
    border-radius: 15%;
    border: 2px solid rgb(56, 33, 33);
}

#btn-delete:hover{
    background-color: hsl(0, 54%, 52%);
}

#btn-delete i{
    color: rgb(56, 33, 33);
}

/* RATE */

#btn-stars{
    padding: 5px;
    background-color: hsl(59, 54%, 62%);
    border-radius: 15%;
    border: 2px solid rgb(55, 56, 33);
}

#btn-stars:hover{
    background-color: hsl(59, 54%, 47%);
}

#btn-stars i{
    color: rgb(55, 56, 33);
}

/* MARK */

#btn-mark{
    padding: 5px;
    background-color: hsl(39, 54%, 62%);
    border-radius: 15%;
    border: 2px solid rgb(56, 44, 33);
}

#btn-mark:hover{
    background-color: hsl(39, 54%, 47%);
}

#btn-mark i{
    color: rgb(56, 44, 33);
}

/* ADD */

#btn-add{
    margin: 0.5em;
    padding: 4px;
    background-color: hsl(113, 54%, 62%);
    border-radius: 15%;
    border: 2px solid rgb(38, 56, 33);
}

#btn-add:hover{
    background-color: hsl(113, 54%, 52%);
}

#btn-add i{
    color: rgb(38, 56, 33);
}

#searchbar{
    width: 100%;
    display: flex;
    justify-content: center;
}

#searchbar > input{
    width: 70%;
    height: 2em;
    border-radius: 10px;
    text-align: center;
}


#btn-pages{
    margin: 0.5em;
    padding: 4px;
    background-color: hsl(189, 45%, 71%);
    border-radius: 5%;
    border: 2px solid rgb(33, 53, 56);
    
}

#btn-pages:hover{
    background-color: hsl(189, 45%, 61%);
}

.step-links a{
    color: rgb(33, 53, 56);
}

#btn-previous-last{
    margin: 0.5em;
    padding: 4px;
    background-color: hsl(253, 45%, 71%);
    border-radius: 5%;
    border: 2px solid rgb(48, 33, 56);
    
}

#btn-previous-last:hover{
    background-color: hsl(290, 45%, 61%);
}

#invite-link{
    color: darkcyan;
}
