.bloc-orange{
    background-color: wheat;
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icone-size{
    font-size: 5em;
    width: 30%;
    
}
.left {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.bulle-img{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.bulle-img img{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border-color: rgb(56, 47, 47);
    border: solid 4px;

}

div#box-img-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
}

div#box-img-txt>img{
    margin-bottom: 1.5em;
}