img{
    margin-top: 1em;
    height: 20em;
    width: 12.5em;
}

/* CSS Manga_listing */
#manga-displayer > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listebtns object{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1em 0 1em 0;
}

.listebtns object > *{
    flex-basis: 10%;
    text-align: center;
}

.listebtns{
    width: 100%;
}

#manga-displayer > ul > a, #manga-displayer > ul > li{
    flex-basis: 15%;
}

#manga-displayer li{
    list-style-type: none;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#manga-displayer h3{
    text-overflow: ellipsis;
    height: 2.5em;
    width: 100%;
    color: black;
    text-align: center;
}


.manga-box{
    padding: 0 0.5em 2em 0.5em;
}

.not-authenticated{
    padding-bottom: -4em;
}

.manga-box:hover .listingImg{
    transform: scale(1.05);
    z-index: -1;
    transition: 0.4s;
}

a{
    text-decoration: none;
}

#manga-displayer{
    margin-top: 1em;
}

h1{
    margin-bottom: 0.5em;
}

li.manga-box>p {
    width: 100%;
    text-align: center;
}