#manga-box{
    margin: auto;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    margin: 1.5em;
}

#manga-box p:not(.synopsis-indent){
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.synopsis-indent{
    /* text-indent: 10%; */
    text-align: justify;
}

.info-manga-box{
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}

.listebtns object{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1em 0 1em 0;
}

.listebtns object > *{
    flex-basis: 1.5em;
    text-align: center;
}

.listebtns{
    width: 50%;
}