.star-rater{
    margin: 1em;
    display: inline-block;
    background-color: wheat;
    border-radius: 25px;
    border: 1px solid black;
    padding: 0.5em;
}

.star-rater:hover{
    background-color: beige;
}

.stars{
    float: right;
}

.star-rater:hover i{ /*weight (0,2,1) Vide les étoiles lors du survol*/
    color: var(--star-color-empty);
}

.stars .checked{ /*weight (0,2,0) Rempli les étoiles*/
    color: var(--star-color-fill);
}

.stars i{ /*weight (0,1,1) Vide les étoiles (initialisation)*/
    color: var(--star-color-empty);
}

.star-rater > .stars:hover i, .star-rater > .stars:hover ~ .stars i{ /*weight (0,3,1) et (0,4,1) Rempli les étoiles jusqu'au curseur (de gauche à droite)*/
    color: var(--star-color-fill)
}

.star-displayer{
    margin: 1em 0 0.5em 0;
}