{% extends "base.html" %}
    {% block styles %}
        {{ block.super }}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/authors/authors_listing.css' %}">
        
    {% endblock %}
    {% block content %}

    <h1>Liste de tous les auteurs</h1>

    <form id="searchbar" action="{% url 'authors_search' %}" method="get">
        <input name="query" type="text" placeholder="Rechercher un auteur">
    </form>

    {% if request.user.is_superuser %}
        <a href="{% url 'authors_add'%}" id="btn-add">
            <i class="fa-solid fa-plus"></i>
        </a>
    {% endif %}

    <div class="list-author">
        {% for author in authors %}
        <div>
            <div class="title-box">
                <h3>{{ author.name }}</h3>
            </div>
            <a href="{{ author.bio }}">Biographie</a>
            <div class="listebtns">
                {% if request.user.is_superuser %}
                    <a href="{% url 'authors_update' author.id %}" id="btn-update">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="{% url 'authors_delete' author.id %}" id="btn-delete">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
    
    
    
    
    


    {% endblock %}