{% extends "base.html" %}
    {% block styles %}
    
        {{ block.super }}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/form/form_update_create.css' %}">
    {% endblock %}
    {% block content %}

    {% if request.user.is_authenticated %}
        <h1>Modifier un auteur</h1>
        
        
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="save" type="submit" value="Modifier" class="btn btn-success">
                
        </form>
    {% else %}
    
    <p>Tu dois te connecter pour acceder à cette page !</p>
    
    {% endif %}

  

 {% endblock %}
