{% extends "base.html" %}
    {% block styles %}
        {{ block.super }}
        {% load static %}
        
    {% endblock %}
    {% block content %}

    {% if request.user.is_authenticated %}
        <h1>Supprimer un Auteur</h1>
        
        <p>Etes-vous sur de vouloir supprimer l'auteur' "{{ author.name }}" ?</p>
        <form action="" method="post">
        {% csrf_token %}
            
        <input type="submit" value="Supprimer" class="btn btn-danger">
            
        </form>
        
    {% else %}
        <p>Tu dois te connecter pour acceder à cette page !</p>
    {% endif %}
    
 {% endblock %}
