{% extends "base.html" %}
{% load static %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/form/form_update_create.css' %}">
    {{ block.super }}
    

    {% endblock %}

    {% load static %}
    

    {% block content %}
        

    {% if request.user.is_authenticated %}
        <h1>Ajouter un Auteur</h1>
    
        <form method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
                    
            <input id="save" type="submit" value="Ajouter" class="btn btn-success">
                    
        </form>
    
    {% else %}
        <p>Tu dois te connecter pour acceder à cette page !</p>
    {% endif %} 

        
    {% endblock %}


 